@media screen and (max-width: 760px) {
.gallery-cards {
    display: flex;
    width: 240px;
    grid-template-columns: 238px 238px 238px;
    margin: 38px auto 0 auto;
    flex-direction: column;
}

.band-history img {
    margin-top: 24px;
    width: 340px;
    height: 170px;
}
}