@media screen and (max-width: 660px) {
h1 {
    font-size:35px;
}
.text-1{
    font-size: 13px;
    margin-bottom:15px;
}

.text-2{
    max-width: 933px;
    font-size: 11px;
    margin-bottom: 15px;
}

.text-3{
    font-size:11px;
    margin-bottom:15px;
}

.band-history img {
    display: none;
}


.grid-g{
    display: block;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
}