	footer .container{
        height: 143px;
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    
    footer{
        font-size:12px;
    }

    .text-footer{
        margin: 36px 0 0 124px;
        color:rgba(172,176,188,1);
    }

    .text-footer p{
    margin: 0 0 38px 0;
    }

    .links{
        margin: 37px 0 0 293px;
        display:flex
    }


    .links a{
    text-decoration: none;
    color: rgb(172, 176, 188);
    }


    .links a:hover{
     color:rgb(250, 191, 44) ;

    }


    


 