
.gallery .number-band{
    margin-top: 108px;
}


  .gallery-tittle-1 {
    text-align: center;
    font-size: 25px;
  }



.gallery-cards {
    display: grid;
    width: 852px;
    grid-template-columns: 238px 238px 238px;
    margin: 38px auto 0 auto;
    gap: 77px;
}


.band-number {
    height: 214px;
    border: 1px solid rgba(42,47,58,1);
    border-radius: 5px;
}


.band-number p  {
font-size: 12px;
padding: 6px 0 0 8px;
}


.band-number img {
width: 237px; 
}


    .grid-g {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.band-history {
    margin-top: 63px;
    padding: 56px 0 0 124px;
}

.band-history img{
    margin-top: 24px;
    width: 357px;
    height: 176px;
  
}

.band-history p {
font-size: 13px;
}



.gallery-text-1{
    margin-top: 29px;
    margin-left: 2px;
    max-width: 575px;
    letter-spacing: 1px;
}


.gallery-text-2 {
    margin: 17px 0 0 2px;
    max-width: 550px;
    letter-spacing: 1px;
}


 .gallery-text-3{
    margin: 21px 0 0 2px;
    max-width: 940px;
    letter-spacing: 1px;
 }



.gallery-text-4 {
    margin: 24px 0 0 2px;
    max-width: 925px;
    letter-spacing: 1px;
}



.background-gallery {
    background: linear-gradient(to right, #0a1f2b, #1b0f16);
    height: 475px;
}




