* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


body{
    background-color: rgba(14,15,18,1);
    color:$primary-color;
    font-family: $special-font;
}

.container{
    max-width:1168px;
    margin:0 auto 0 auto;
}




