header > .container {
	height: 59px;
	display: grid;
    grid-template-columns: 2fr 1fr;
	color:rgba(231,231,231,1);
}

.logo { 
a {
  text-decoration: none;
  color:$primary-color;
  }
	font-size:12px;
	margin: 14px 0 0 29px;
    }
 
nav {
    display: grid;
    grid-template-columns: 67px 72px 60px 69px;
	margin: 20px 0 0 89px;
    gap: 8px;
}


.nav-item{
	font-size: 12px;
	text-decoration: none;
	color:$primary-color;
}

.nav-item:hover{
	color:rgba(253,219,13,1);
}


