 <section id="concert" class="concert-screen">
    <div class="container">
 <div class="tab">
        <table>

            <tbody>
                <tr ><td class="capt">Найближчі концерти</td></tr>
                <tr>
                <td class="th">Місто/Заклад</td>
                <td class="th">К-сть місць</td>
                <td class="th">Дата і час</td>
                </tr>
                <tr>
                    <td class="table-info">Київ - Docker-G Pub</td>
                    <td class="table-info">250</td>
                    <td class="table-info">25.10.2025, 19:00.</td>
                    <td class="table-info" ><button class="btn-order" onclick="alert('Квиток успішно замовлен!Дякуємо!')">Замовити квиток</button></td>
                </tr>
                <tr>
                    <td class="table-info">Львів -!FESTrepublic</td>
                    <td class="table-info">400</td>
                    <td class="table-info">-01.11.2025, 20:00</td>
                   <td class="table-info" ><button  class="btn-order" onclick="alert('Квиток успішно замовлен!Дякуємо!')">Замовити квиток</button></td>
                </tr>
                <tr>
                    <td class="table-info">Одеса - Зелен театр.</td>
                    <td class="table-info">700</td>
                    <td class="table-info">09.11.2025, 19:30</td>
                    <td class="table-info" ><button class="btn-order" onclick="alert('Квиток успішно замовлен!Дякуємо!')">Замовити квиток</button></td>
                </tr>
                 <tr>
                    <td class="table-info" >Харків - ArtZavod</td>
                    <td class="table-info" >500</td>
                    <td class="table-info" >16.11.2025, 19:00</td>
                    <td class="table-info" ><button class="btn-order" onclick="alert('Квиток успішно замовлен!Дякуємо!')">Замовити квиток</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</section>