<section class="contact-screen">
   <div class="title-contact"> 
    <h2>Зв'яжись з нами</h2>
    <p>Хочешь заказати виступ, або маєшь питання? Пиши!</p>
</div>
<div class="container">

<div class="contact-form">
    <form action="#" method="get">

    <div class="inputs">
    <div>
    <p>Им'я</p>
    <input class="name" type="text" placeholder="" required minlength="2">
    </div>
    <div>
    <p>Email</p>
    <input class="email" type="email" placeholder="" required>
    </div>
    </div>

     <div class="textarea">
    <p>Повідомлення</p>
    <textarea placeholder="Розкажи про свої ідеї" required></textarea>
     </div>

    <button class="btn-form" type="submit">Відправити</button>
</form></div>

<div class="map">
    <p>Наше місце знаходження</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1271.5354259050346!2d30.532611289192904!3d50.402517151022586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf5ac04cc591%3A0x9857c1dc0b9c7468!2z0KHQsNC_0LXRgNC90L4t0KHQu9C-0LHQvtC00YHQutC-0Lkg0L_RgC4sINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1759416131569!5m2!1sru!2sua" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div></div>

</section>