<div class="first-screen">
<div class="container">
    <h1>Гурт «Грим та Грім»</h1>
    <p class="text-1">Справжній український рок, який гуркоче в сердці</p>
    <p class="text-2">«Грим та Грім» - це поєднання <span>потужних</span> гітарних рифів, чесних текстів і вибухової енергії сцени. Ми граємо для тих, хто цінує живий звук, свободу та силу музики.</p>
    <p class="text-3"><span>Наші концерти</span> - це завжди контакт з залом, драйва і емоцїї. Приєднуйся до нас на найближчих виступах і відчуй цей саунд наживо</p>
    <button class="scr-btn">ЗАКАЗАТИ КВИТОК</button>
</div>
</div>